@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Space+Grotesk:wght@300..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  font-family: Nunito;
  scroll-behavior: smooth;
}

:root{
    --blue: #1e3f6a;
    --black: #000000;
    --beige: #dfd7cc;
    --red: #75222a;
    --blanco: #FFFFFF;
}

.blanco{
    color: var(--blanco);
}

.fondo-red{
    background-color: var(--red);
}


/* body{
    background-image: url(../../public/img/menu.webp);
    background-size: cover;
    background-repeat: no-repeat;
} */

#header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    align-items: center;
    border-bottom: 2px solid var(--black);
}

#logo{
    margin-left: 15px;
}

.div-kufesa{
    display: flex;
    align-items: center;
    gap: 10px;
}

#nav{
    margin-right: 15px;
}

.anchor{
    text-decoration: none;
    border: 1px solid var(--black);
    padding: 15px;
    margin-right: 15px;
}

#kufesa{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

#productos{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carta{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-menu{
    height: 500px;
}

#productos2{
    padding-top: 100px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .img{
    height: 300px;
 }
 

 #contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    .texto-centrado {
        text-align: center;
    }
    
    .campo{
        margin: 10px 0;
    }
    
    .input{
        border: 2px solid var(--azul);
        border-radius: 5px;
        width: 100%;
        padding: 5px 10px;
    }
    
    .input:focus{
        outline: 2px solid var(--azul);
    }
    
    #enviar{
        background-color: var(--dark-azul);
        border-radius: 5px;
        font-weight: bolder;
        color: var(--blanco);
        padding: 10px;
        width: 50%;
        margin: 0 25%;
    } 

 #footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
 }

 #redes{
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
 }
